<table>
    <thead>
    <tr>
        <th>Автор</th>
        <th>Возраст</th>
        <th>Название</th>
        <th>Год</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script>
    window.addEventListener('load', fillTheTable);
    let data = {{{json data}}};

    function fillTheTable() {
        let fragment = document.createDocumentFragment();

        for (let userKey in data.user) {
            let tr = createTr(fragment);
            let name = fillTd(data.user[userKey].name);
            let age = fillTd(data.user[userKey].old);
            age.classList.add('bold');
            name.classList.add('bold');
            tr.appendChild(name);
            tr.appendChild(age);

            let booksPerUID = 0;
            for (let bookKey in data.book) {
                if (data.book[bookKey].uid === data.user[userKey].uid) {
                    if (booksPerUID > 0) {
                        let tr = createTr(fragment);
                        let emptyTD = document.createElement("td");
                        let emptyTD2 = document.createElement("td");
                        let book = fillTd(data.book[bookKey].title);
                        let year = fillTd(data.book[bookKey].year);
                        tr.appendChild(emptyTD);
                        tr.appendChild(emptyTD2);
                        tr.appendChild(book);
                        tr.appendChild(year);
                    } else {
                        let book = fillTd(data.book[bookKey].title);
                        let year = fillTd(data.book[bookKey].year);
                        tr.appendChild(book);
                        tr.appendChild(year);
                        booksPerUID++;
                    }
                }
            }
            createBlank_TR_TD(fragment);
        }

        document.querySelector("tbody").appendChild(fragment);
    }

    function fillTd(data) {
        const td = document.createElement("td");
        td.innerText = data;
        return td
    }

    function createTr(fragment) {
        const tr = document.createElement("tr");
        fragment.appendChild(tr);
        return tr
    }

    function createBlank_TR_TD(fragment) {
        const blankTr = document.createElement("tr");
        const blankTd = document.createElement("td");
        blankTd.colSpan = "4";
        blankTd.style.backgroundColor = "lightgrey";
        blankTd.style.height = '15px';
        blankTr.appendChild(blankTd);
        fragment.appendChild(blankTr);
    }
</script>