body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  width: 400px;
}
thead{
  background-color: rgb(0 89 157);
  color: white;
}

thead tr{
  height: 60px;
}

thead tr th{
  vertical-align: bottom;
}


th, td {
  padding: 5px;
  text-align: left;
}

.bold{
  font-weight:bold;
}